@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Infant";
  src: url("/fonts/CormorantInfant-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Cormorant Infant", serif;
  --primary-color: hsl(38, 100%, 98%);
  --secondary-color: hsl(142, 29%, 15%);

  font-family: var(--body-font);
  background-color: var(--primary-color);

  font-size: 1.2rem;
}

body,
main {
  margin: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  color: var(--secondary-color);
}

h1 {
  font-size: 2.7rem;
  font-family: var(--heading-font);
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  font-family: var(--heading-font);
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
  font-family: var(--heading-font);
  font-weight: 400;
}

h4 {
  font-size: 1.6rem;
  font-family: var(--heading-font);
  font-weight: 400;
}

p {
  font-size: 1rem;
}

button[type="submit"] {
  font-size: 1.6rem;
  background-color: inherit;
  border-radius: 999px;
  border: 1px solid var(--secondary-color);
  font-family: var(--body-font);
  font-weight: 300;
  padding: 0.2rem 2rem;
  width: fit-content;
}

button[type="submit"]:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

input[type="radio"] {
  accent-color: var(--secondary-color);
  transform: scale(1.2);
}

input[type="radio"]:hover {
  cursor: pointer;
}
